/* Header */
.header {
    …
}

.header-nav {
    …
}


/* Content */
body {
  font-family: "Orbitron";
  background-color: rgb(44,44,44);

  letter-spacing: 5px;
}

h1{
  font-weight: 700;
  color: rgb(150,150,150);
}

h2{
  font-weight: 500;
  color: rgb(219,219,219);
}



.height{
/*  */
}

.rows-input{
  border: solid;
  height: 30px;
  max-width: 150px;
  font-size: 30px;
  text-align: center;
}

.cols-input{
  border: solid;
  height: 30px;
  max-width: 150px;
  font-size: 30px;
  text-align: center;
}

.hex-value-title{
  border: solid;
}

.color-value{
  border: solid;
}

.color-well{
  width: 200px;
  height: 60px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),
  0 6px 20px 0 rgba(0,0,0,0.19);
}

.the-grid{
  font-weight: 400;
}

#grid-id{
  /* border: 2px solid green; */
}

.table{
  border-spacing: 0px;
}

td{
  background-color: rgb(219,219,219);
}

#grid-lines{
  border: 1px solid rgb(170,170,170);
  width: 10px;
  height: 10px;
}


/* Footer */
.footer {
    …
}

.footer-nav {
    …
}
